{
  "extends": ["airbnb-base", "eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-var": "error",
    "no-unused-vars": "error",
    "no-await-in-loop": "off",
    // "prettier/prettier": "warn",
    // "sort-imports": "error",
    "func-names": "off",
    "newline-before-return": "error",
    "sort-vars": "warn",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "consistent-return": "off",
    "radix": "off",
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/no-import-module-exports": [
      "error",
      {
        "exceptions": ["**/*/*.js"]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "parent", "sibling", "index"]
        ],
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  }
}
